@import "tailwindcss";
@font-face {
    font-family: PromoTest;
    src: url("/fonts/PromoTest.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/fonts/Poppins-Regular.ttf");
}


.promoTest {
    font-family: PromoTest;
}

.poppins {
    font-family: Poppins;
}


.heading {
    @apply text-[20px] md:text-[33px]  font-semibold
}

.heading-lg {
    @apply text-[25px] md:text-[35px]  font-bold
}

.txt {
    @apply text-[10px] md:text-[13.66px]
}

.txt-lg {
    @apply  text-[13.66px] md:text-[18.66px]
}

